@charset "UTF-8";

* {

}

div.container {
    background-color: lightsalmon;
    display: flex;  /*  container pai flexivel */
    /* flex-direction: row-reverse;
    flex-wrap: wrap-reverse; */
    flex-flow: row nowrap;
}

div.item {
    background-color: aquamarine;
    border: 1px solid black;
    flex: auto; 
    text-align: center;
}