@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body, html {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo {
    border: 1px solid black;
    font-size: 30px;
    flex-basis: 250px;
}
.header_nav {
    border: 1px solid black;

}
.header-nav_itens {
    display: flex;
    justify-content: space-evenly;
}

.header-nav-itens_link {
    padding: 10px;
    margin: 10px;
    border: 1px solid #bbff00;
    background-color: #bbff00;
    list-style-type: none;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: space-between; */
}

.main-title {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

.list-item_subtitle {
    padding: 10px;
    text-transform: capitalize;
    border-bottom: 2px solid #bbff00;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.list-item {
    display: flex;
    flex-direction: column;

    background-color: #222;
    list-style-type: none;
    padding: 0px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(255, 255, 255, 0.253);
}

.list-item p {
    padding: 10px;
}
.list-item span {
    font-size: 25px;
    font-weight: bold;
}

.list-item_subitem {
    list-style-type: disc;
    list-style-position: inside;
    min-height: 150px;
    min-width: 200px;    
}

.list-item_assine {
    padding: 10px;
    margin: auto;
    margin-bottom: 15px;
    width: 150px;
    border: 1px solid #bbff00;
    background-color: #bbff00;
    list-style-type: none;
    border-radius: 5px;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
