@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #004eda; 
    --color2: #f2f2f8;
    --defalut-padding: 32px;
}

body{
    font-family: "Poppins", serif;
    /* font-size: 62.5%; */
    width: 100vw;
    height: 100vh;

    background-color: #ebebeb;
}

.mainGrid {
    margin: auto;
    display: grid;
    /* grid-template-columns: 240px 1fr; */
    grid-template-columns: max-content 1fr;
    grid-template-rows: 7rem minmax(calc(100vh - 7rem), auto);
    /* gap: 1rem; */
}

a {
    text-decoration: none;
    color: #5a5a5f;
}
li {
    list-style-type: none;
    margin-top: 1rem;
}


/* MENU */
.mainGrid-menu {
    grid-row: span 2;
    grid-column: 1 / 2;
    background-color: white;
    height: 100vh;

}

.mainNav-titulo {
    padding: var(--defalut-padding);
    text-transform: uppercase;
    font-size: 1.5em;
}

.menuNav{
    height: 100%;
    
    display: flex;
    flex-direction: column;

    max-height: 100vh;
    /* position: sticky; */
}

.menuNav:last-child{
    padding-bottom: var(--defalut-padding);
}

.mainNav-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    text-transform: capitalize;
}

.mainNav-flex ul > li > a > svg{
    vertical-align: bottom;
}

.mainGrid-menu {
    padding-left: var(--defalut-padding);
}


/* HEADER */
.mainGrid-header {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    background-color: white;
}

.menuHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuHeader-nav {
    display: flex;
    gap: 5rem;
}

.menuHeader-nav > li > svg{
    vertical-align: bottom;
}

.menuHeader-profile{
    margin-right: var(--defalut-padding);
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.profile-foto {
    width: 60px;
}

.profile-foto img{
    width: 100%;
}

.menuHeader-data{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

/* PRINCIPAL - MAIN */
.mainGrid-main {
    grid: 2 2;    
    background-color:white;
}

.mainHeader {
    /* padding-left: var(--defalut-padding); */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

/* article {
outline: 1px solid black;
} */

.separador {
    border-right: 1px solid rgb(221, 221, 221);
}

.mainHeader > article {
    padding: 0 10px;
}

.mainHeader > article > .descricao {
    text-transform: capitalize;
}

.mainHeader > article > .numero {
    color: var(--color1);
    font-size: 1.5rem;
    text-transform: capitalize;
}

.mainHeader > a {
    display: inline-block;
    background-color: var(--color1);
    color: white;
    padding: 0.5rem;

    border-radius: 5px;

    text-align: center;

}

.mainBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
}

.mainBody >* {
    grid-column: span 2;
}

.mainBody > .grid-metade {
    grid-column: span 1;
}

.imagem {
    max-width: 100%;
    height: 100%;
}
