@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #ff7833;
    --color2: #31313B;
    --color3: #444856;
}

html {
    font-size: 62.5%;  /* gambiarra para utilizar tamanho padrão de 10px */
}
body {
    display: flex;
    min-height: 100vh;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background-color: #ccc;
    color: #e7e7e7;
}

a {
    color: inherit;
    text-decoration: none;
}

.header, .main {
    font-size: 1.6rem;
}

.header {
    flex: 0 0 26rem;   /*  grow shrink basis */
    background-color: var(--color2);
}

.header-imagem{
    padding-top: 50%;
    max-width: 10rem;
}

.header-menu {
    text-align: right;
}

.header-menu li{
    margin: 0 3rem;
    padding: 1.5rem;
    list-style-type: none;
    border-bottom: 2px solid var(--color3);
}

.header-menu li:hover {
    background-color: var(--color3);
}

.main {
    background-color: var(--color3);
    flex: 1;
}


