@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-nav: #272700;
    --color-nav-text: #ffd900;
    --width-padrao: 1000px;
}

body, html {
    /* max-width: var(--width-padrao); */
}

body{
    padding: 0 10px;
    font-family: Roboto, sans-serif;
    background-color: rgb(224, 224, 224);
}

.header_cabecalho{
    max-width: var(--width-padrao);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--color-nav);
    padding: 20px;
}

.header-cabecalho_imagem {
    flex-shrink: 1;
}
.header-cabecalho_imagem img {
    width: 100%;
}

.header-cabecalho-link_list {
    flex-shrink: 1;
    display: flex;
    list-style-type: none;
    gap: 1em;
}

.header-list_item {
    align-content: space-between;
    text-decoration: none;

    padding: 0.5em 1em;
    background-color: var(--color-nav);
    color: var(--color-nav-text);
    border: 2px solid var(--color-nav-text);
    border-radius: 5px;

    font-size: 0.7em;
    text-transform: uppercase;
}

.header-list a:hover {
    text-decoration: underline;
    background-color: var(--color-nav-text);
    color: var(--color-nav);
}

.main-principal {
    margin: auto;
    max-width: var(--width-padrao);
}

.section-banner {
    background-image: linear-gradient(0deg, yellow, white);
}

.section-banner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.section-banner_texto {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1;
}
.section-banner_imagem {
    flex-shrink: 1;
}

.section-banner p{
    display: inline-block;
    font-size: 3em;
    width: 350px;
}

.section-banner a{
    text-decoration: none;
    background-color: var(--color-nav-text);
    padding: 10px;
    width: 100px;

    border-radius: 5px;
    text-align: center;
}

.section-banner a:hover{
    text-decoration: underline;
    outline: 2px solid var(--color-nav);
    color: var(--color-nav);
}

.section-banner img {
    width: 100%;
}

.section-grupo {
    /* max-width: var(--width-padrao); */
    padding-top: 50px ;
}

.section-grupo h1 {
    text-align: center;
    padding: 40px;
}

.section-cursos-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-around;
    /* align-items:stretch; */
    /* justify-items: center; */
    list-style-type: none;
    gap: 1em;
    padding-bottom: 20px;
}

.section-cursos-list_item {
    background-color: white;
    align-content: center;
    flex-shrink: 1;
    
    display: flex;
    flex-direction: column;
    
    border-radius: 5px;
}

.section-cursos-list_item img {
    width: 100%; 
}

.section-cursos-list_item p, h3 {
    max-width: 315px;
}

.section-cursos-list_item h3 {
    text-align: center;
    padding: 20px;
    font-size: 1em;
}

.section-cursos-list_item p {
    font-size: 0.8em;
}

.section-cursos_artigo {
    text-align: center;
}

.section-cursos_artigo a {
    display: inline-block;
    text-decoration: none;
    background-color: var(--color-nav-text);
    padding: 10px;
    width: 150px;
    border-radius: 5px;
}
    
.section-cursos_artigo a:hover{
    text-decoration: underline;
    outline: 2px solid var(--color-nav);
    color: var(--color-nav);
}

.section-nossaEscola {
    background-color: rgb(0, 32, 90);
    color: white;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section-nossaEscola_imagem {
    flex-basis: 490px;
}

.section-nossaEscola_imagem img {
    align-items: center;
    width: 100%;

}
.section-nossaEscola_texto {
    width: 400px;    
    padding: 30px;
}
.section-nossaEscola_texto h2{
    padding: 30px 0px;
}
.section-nossaEscola_texto p {
    font-size: 0.8em;
}

.section-local {
    padding-bottom: 10px;
}

.section-local img {
    width: 100%;
}

.section-local p {
    text-align: right
}

.footer-rodape {
    max-width: var(--width-padrao);
    background-color: var(--color-nav);
    color: var(--color-nav-text);
    padding: 30px;
    margin: auto;

    text-align: center;
}