@charset "UTF-8";

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: inherit;
}
@media screen and (max-width: 500px) {
    body {
        background-color: brown;
        color: white;
    }    
}
@media screen and (min-width: 600px) {
    body {
        background-color: blueviolet;
    }    
}

.teste {
    width: 320px;
    height: 3rem;
    background-color: orange;

}