@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 :root {
    --color1: rgb(80, 105, 252);
    --color2: rgb(75, 174, 192);
    --color3: rgb(21, 29, 53);
 }

body {
    color: whitesmoke;
    font-size: 3em;
    font-family: sans-serif;
    height: 100vh;
    background-image: radial-gradient(rgb(110, 110, 255), rgb(62, 58, 73));

}

.flexContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.gridContainer {
    max-width: 13em;
    box-shadow: 0px 0px 10px 3px rgb(0 0 0 / .5);


    background-image: radial-gradient(#5981a4, #2b4772);
    display: grid;
    gap: 10px;

    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-flow: column; */

    padding: 0.5em;
}

.visor {
    background-color: var(--color3);

    border-bottom: 3px inset #333;
    border-right: 3px inset #333;
    border-top: 3px inset #111;
    border-left: 3px inset #111;
    
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-end;
    padding: 0.3em;

    margin-bottom: 0.3em;
    /* outline: 1px solid black; */
}

.tecla {
    background-image: linear-gradient(to top, var(--color3), rgb(65, 65, 65));

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em;

    border-radius: 5px;
    border-top: 3px solid #999;
    border-left: 3px solid#999;
    border-bottom: 3px solid #666;
    border-right: 3px solid #666;
    /* outline: 1px solid black; */
}

.tecla:hover {
    background-image: linear-gradient(to bottom, var(--color3), rgb(65, 65, 65));
    border-bottom: 3px solid #999;
    border-right: 3px solid #999;
    border-top: 3px solid #666;
    border-left: 3px solid #666;
}

.span-row-2 {
    grid-row: span 2;
}

.span-column-2 {
    grid-column: span 2;
}

