@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: flex;
    background-image: radial-gradient(blue, purple);

    justify-content: center;
    align-items: center;
}

h1{
    font-weight: 100;
    text-align: center;
    padding-bottom: 3rem;
}

main {
    background-color: white;
    width: 620px;
    padding: 2rem;
    box-shadow: 0px 15px 20px -10px;
}

.tabuleiro {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 90px);
    gap: 1rem;

    perspective: 500px;
}

.cartas {
    border: 2px solid brown;
    border-radius: 10px;
    box-shadow: 1px 2px 3px  rgba(0, 0, 0, 0.274);

    position: relative;

    transform-style: preserve-3d;
    transition: transform 2s;
    transform-origin: right center; /* refatoração */

}

.cartas img {
    border-radius: 7px;
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg);
}

.card-back {

}

main:has(#check01:checked) .tabuleiro .carta01,
main:has(#check02:checked) .tabuleiro .carta02,
main:has(#check03:checked) .tabuleiro .carta03,
main:has(#check04:checked) .tabuleiro .carta04,
main:has(#check05:checked) .tabuleiro .carta05,
main:has(#check06:checked) .tabuleiro .carta06,
main:has(#check07:checked) .tabuleiro .carta07,
main:has(#check08:checked) .tabuleiro .carta08,
main:has(#check09:checked) .tabuleiro .carta09,
main:has(#check10:checked) .tabuleiro .carta10,
main:has(#check11:checked) .tabuleiro .carta11,
main:has(#check12:checked) .tabuleiro .carta12,
main:has(#check13:checked) .tabuleiro .carta13,
main:has(#check14:checked) .tabuleiro .carta14,
main:has(#check15:checked) .tabuleiro .carta15,
main:has(#check16:checked) .tabuleiro .carta16{
    /* transform: rotateY(180deg); */
    transform: translateX(-100%) rotateY(-180deg);
}

main:has(#check01:focus-visible) .tabuleiro .carta01,
main:has(#check02:focus-visible) .tabuleiro .carta02,
main:has(#check03:focus-visible) .tabuleiro .carta03,
main:has(#check04:focus-visible) .tabuleiro .carta04,
main:has(#check05:focus-visible) .tabuleiro .carta05,
main:has(#check06:focus-visible) .tabuleiro .carta06,
main:has(#check07:focus-visible) .tabuleiro .carta07,
main:has(#check08:focus-visible) .tabuleiro .carta08,
main:has(#check09:focus-visible) .tabuleiro .carta09,
main:has(#check10:focus-visible) .tabuleiro .carta10,
main:has(#check11:focus-visible) .tabuleiro .carta11,
main:has(#check12:focus-visible) .tabuleiro .carta12,
main:has(#check13:focus-visible) .tabuleiro .carta13,
main:has(#check14:focus-visible) .tabuleiro .carta14,
main:has(#check15:focus-visible) .tabuleiro .carta15,
main:has(#check16:focus-visible) .tabuleiro .carta16{
    outline: 2px solid red;
    outline-offset: 2px;
}

.controls {
    /* display: none;  mata a assebilidade */
    position: absolute;
    clip: rect(1px 1px 1px, 1px);
    width: 1px;
    height: 1px;
    overflow: hidden; 
}

