@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Eagle+Lake&display=swap');

 *{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    
  }

  :root {
    --font-f1: Verdana, Geneva, Tahoma, sans-serif;
    --font-f2: "Cookie", cursive;
    --font-f3: Helvetica, sans-serif;
  }

  html, body {
    min-height: 100vh;
    background-color: lightgray;
    font-family: var(--font-f1);
    
  }

  header {
        background-color: black;
        color: white;
        text-align: center;
  }

  header > h1 {
    padding-top: 50px;
    /* text-transform: uppercase; */
    font-variant: small-caps;
    font-family: var(--font-f3);
    font-size: 5vw;
  }

  header > p {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: var(--font-f3);
    font-size: 2vw;
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
  }
  a:hover{
    text-decoration: underline;
  }

  main .imagem#i1 {
    background-image: url('../Imagens/traffic.jpg'); 
    background-position: center center;   
  } 

  main .imagem#i2 {
    background-image: url('../Imagens/puppet.jpg');
    background-position: center center;

  }

  main .imagem#i3 {
    background-image: url('../Imagens/money.jpg');
  }

  main .imagem#i4 {
    background-image: url('../Imagens/health.jpg');
    background-position: center top;
  }

  main .imagem#i5 {
    background-image: url('../Imagens/people.jpg');
  }

  section {
    padding-top: 3vw;
    padding-bottom: 3vw;
    line-height: 1em;   /* espaço entre as linhas */
    padding-left: 30px;
    font-family: var(--font-f2);
    font-size: 5vw;
  }

  section.normal {
    color: black;
  }

  section.imagem {
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    box-shadow: 1px 1px 13px 1px rgba(0, 0, 0, 0.555);
    box-shadow: inset 1px 1px 13px 1px rgba(0, 0, 0, 0.555);
    /* border-radius: 10px; */
    background-size: cover;
    background-attachment: fixed;

    text-shadow: 2px 2px 2px gray;
  }

  section > p#p1 {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.342);
    border-radius: 10px;
  }

  footer {
    background-color: black;
    color: white;
    margin: auto;
    padding: 10px;
    font-family: var(--font-padrao);
    text-align: center;
  }
  