@charset "UTF-8";

/*    Paleta de cores 
    azul: #1484fc
    laranja: #ff982a
*/

/* Typical Device Breakpoints - W3C
Pequenas telas  : até 600px
Celular         : 600 até 768px
Tablet          : 768 até 992px
Desktop         : 992 até 1200px
Grandes telas   : acima de 1200px
*/

* {
    
}

@media screen and (min-width: 768px) and (max-width: 992px){
    /*  configuracao para tablet */
    body {
        background-image: linear-gradient(to bottom, #1484fc, #ff982a);
    }

    section#login {
        width: 90vw;   
        height: 260px; 
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%
    }
    form > input[type=submit], form > a.botao {
        max-width: 300px;
    }
}

@media screen and (min-width: 992px){
    /*  configuracao para telas grandes */
    body {
        background-image: linear-gradient(to top, #1484fc, #ff982a);
    }

    section#login {
        width: 990px;
        height: 310px;
    }
    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 50%;
    }

    section#login > div#formulario > H1 {
        font-size: 2em;
    }

    section#login > div#formulario > p {
        font-size: 1.2em;
    }

    form > input[type=submit], form > a.botao {
        max-width: 300px;

    }
}